* {
    box-sizing: border-box;
    background-image: url(../images/trainimage1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 

}

body {
    background-color: #cccccc !important;
    color: wheat;
}

footer {
    text-align: center;
    padding: 55px 0 0 0;
    font-weight: bold;
    height: 125px;
}
div {
    display: block;
}

input {
    width: 100%;
}


th {
text-align: center !important;
color: whitesmoke;
}

a {
    color: #cccccc !important;
}

#trainTableText {
    text-align: center;
    color: whitesmoke;
}

.panel {
    border-color: #5d0e00 !important;
    color: wheat;
}

/* Media Queries */

